html {
  font-family:
    system,
    -apple-system,
    ".SFNSText-Regular",
    "San Francisco",
    "Roboto",
    "Segoe UI",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}

:root {
  --transparent-bg: rgba(0, 0, 0, 0.5);
}

body {
  min-height: 100vh;
  background-color: #120458;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

main {
  display: grid;
  grid-template-rows: 250px 1fr 1fr 1fr;
  gap: 1rem;
}

.search-form {
  justify-self: center;
  background-color: var(--transparent-bg);
  padding: 20px;
  border-radius: 6px;
}

.search-form h1 {
  text-align: center;
}

.search-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  width: 250px;
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: transform 0.1s ease-in-out;
}

input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.sc-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.weather-results div {
  transition: opacity 0.5s ease-in-out;
  font-size: 30px;
}

.forecast {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 150px 1fr;
}

.forecast .summary {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 10px 6px;
  gap: 6px;
  background-color: var(--transparent-bg);
  border-radius: 6px;
}

.forecast .summary .date-info {
  align-self: center;
  font-size: 25px;
  font-weight: bolder;
}

.min-temp {
  color: red;
}

.max-temp {
  color: gold;
}

.avg-temp {
  color: lime;
}

.hours {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.hour-card {
  padding: 6px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--transparent-bg);
}

.hour-card .temperature {
  color: rgb(189, 189, 189);
}

@media (min-width: 1500px) {
  .hours {
    grid-template-columns: repeat(8, minmax(150px, 1fr));
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {
  .hours {
    grid-template-columns: repeat(6, minmax(150px, 1fr));
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .hours {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}
